{% extends 'base.html.twig' %}

{% block body %}
<div class="checkout">
    <div class="container__checkout">
        <h3>Informations de Paiement</h3>
        <form action="/cart/confirm" method="post" autocomplete="off">
            <label for="nomComplet">Titulaire de la carte</label>
            <input type="text" name="nomComplet" id="nomComplet" placeholder="Jean Dupont..." required>

            <label for="adresse">Adresse de livraison</label>
            <input type="text" name="adresse" id="adresse" placeholder="..." required>

            <label for="email">Email de confirmation</label>
            <input type="email" name="email" id="email" placeholder="name@domain.com..." required>

            <input type="hidden" name="cartcontent" id="cartcontent" value="">
            <input type="hidden" name="cartprice" id="cartprice" value="">

            <button type="submit">Confirmer et procéder au paiement</button>
        </form>
    </div>
</div>
{% endblock %}

{% block post_body_js %}
<script src="{{ asset('assets/js/js.cookie.min.js') }}"></script>
<script src="{{ asset('assets/js/cartCheckout.min.js') }}"></script>
{% endblock %}