{% extends 'base.html.twig' %}

{% block body %}
<div class="cart">
	<div class="cart__container">
		<div class="cart__titre">
			<h1>Panier</h1>
		</div>
		<div class="cart__legend">
			<h3>titre</h3>
			<h3>nombre de tickets</h3>
		</div>
		<div class="cart__table">
			<ul id="cartList"></ul>
			<div class="cart__total">
				<p id="prixTotal"></p>
				<a id="btnCheckout" href="/cart/checkout">Commander</a>
			</div>
		</div>
	</div>
	
</div>
{% endblock %}

{% block post_body_js %}
    <script src="{{ asset('assets/js/js.cookie.min.js') }}"></script>
    <script src="{{ asset('assets/js/cart.min.js') }}"></script>
{% endblock %}