{% extends 'base.html.twig' %}

{% block body %}
<div class="confirmation">
    <div class="container__confirmation">
        <p>Le payement confirmer un mail de confirmation a été envoyer</p>
        <p>Adresse de livraison : {{ adresse }}</p>
        <ul id="cartList"></ul>
        <p id="prixTotal">Prix total : </p>
        <a id="retourSite" href="/">Retour au site</a>
    </div>
</div>
{% endblock %}

{% block post_body_js %}
<script src="{{ asset('assets/js/js.cookie.min.js') }}"></script>
<script src="{{ asset('assets/js/listCart.min.js') }}"></script>
{% endblock %}