// @import "bootstrap";
@import "listing";

*{
    margin: 0;
    padding: 0;
    
}

body {
    font-family     : Arial, Helvetica, sans-serif;
    font-size       : 16pt;
    background-color: #fff;
    overflow-x: hidden;
    navbar{
        
        background: #FFF;
        height: 80px; 
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        position: sticky;
        top: 0;
        z-index: 999;
        box-shadow: -1px 10px 24px -8px rgba(0,0,0,0.38);
        -webkit-box-shadow: -1px 10px 24px -8px rgba(0,0,0,0.38);
        -moz-box-shadow: -1px 10px 24px -8px rgba(0,0,0,0.38);
        
    }
        .navbar__container {
            display: flex;
            justify-content: space-between;
            height: 80px;
            z-index: 1;
            width: 100%;
            max-width: 1300px;
            margin: 0 auto;
            padding: 0 30px;
        }
        .navbar__logo {
            color: #0b3f5f  ;
            justify-self: flex-start;
            cursor: pointer;
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            cursor: pointer;
            text-decoration: none;
            font-size: 2rem;
        }
        .navbar__menu {
            display: flex;
            align-items: center;
            list-style: none;
        }
         .navbar__item {
            display: flex;
            align-items: center;
            list-style: none;
            text-align: center;
            margin-right: -22px;
        }
        .navbar__links{
            color: #000;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 20px;
            text-decoration: none;
            height: 100%;
            padding: 0.5rem 1rem;
        }


        .navbar__links:hover{
            color: #0b3f5f;
            text-decoration: underline;
            transition: all 0.2s ease-in-out;
        }
   
        .form__login{
            padding: 5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

            .label__mdp{
                padding-top: 1rem;
            }

        .login__carte{
            display: flex;
            height: 20rem;
            border: grey solid 1px;
            border-radius: 10px;
           

        .login__creation{
            padding: 3rem ;  
            display: flex;
            flex-direction: column;
            align-items: center;
            border-top-left-radius:10px ;
            border-bottom-left-radius:10px ;
             background: #C49862;
                
            }
            
            .login__connexion{
                padding-top: 1rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            input{
                margin: 1rem;
                padding: 0.5rem;
                background-color: rgb(203, 203, 203);
                border-radius: 5px;
                width: 20rem;
                border: none;
                outline: none;
            }
            input::placeholder{
                color: #FFF;
            }
            .btn__login{
                background-color: #0b3f5f;
                color: #fff;
                border: none;
                border-radius: 20px;
                padding: 0.5rem 1rem;
                margin-top: 1rem;
                cursor: pointer;
                font-size: 15pt;
                text-decoration: none;
                transition: all 0.3s ease-in-out;
            }
            .btn__register{
                background-color: transparent;
                color: #fff;
                border: #0b3f5f solid 1px;
                border-radius: 20px;
                padding: 0.5rem 1rem;
                margin-top: 1rem;
                cursor: pointer;
                font-size: 15pt;
                text-decoration: none;
                transition: all 0.3s ease-in-out;
            }
            .btn__register:hover{
                background-color: #0b3f5f;
                transition: all 0.3s ease-in-out;
            }
            .btn__login:hover{
                background-color: transparent;
                color: #000;
                border: #000 solid 1px;
                transition: all 0.3s ease-in-out;
            }

            
            .crea__text{
                padding: 1rem;
            }
        }
    .full__image{
        width: 99vw;
        height: auto;
        filter: blur(0.25rem);
    }
    .top__image{
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.399);
        position: absolute;
        top: 40%;
        width: 100%;
        height: auto;
        .phrase__accueil{
            padding-top: 5rem;
            margin-left: 10rem;
           color: #FFF;
           right: 30%;
           font-size: 28pt;
        }
        .text__accueil{
            padding-bottom: 5rem;
            margin-left: 10rem;
           color: #FFF;
           right: 30%;
           font-size: 18pt;
        }
   
    }
    .footer__container{
        background-color: rgba(0, 0, 0, 0.736);
        color: #FFF;
        display: flex;
        justify-content: space-between;      
        height: 20vh;
    }
    .footer__container a{
        text-decoration: none;
        color: #FFF;
    }
    .terms{
        padding-left: 3rem;
        padding-top: 1rem;
    }
    .titre__terms{
        padding-bottom: 0.5rem;
    }
    .rs{
        padding: 1rem;
    }
    .titre__rs{
        padding-bottom: 0.5rem;
    }
    .crea{
        padding-top: 1rem;
        padding-right: 3rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .titre__crea{
        padding-bottom: 0.5rem;
    }
    .img__rs{
        width:50px;
        margin:0.5rem;
    }
    .news__content{
        padding: 4rem;
    }
    .titre__news{
        padding-left: 1rem;
        background-color: #0b3f5f32;
        width: 40%;
        display: flex;
        align-items: center;
    }
    .carte__news{
        margin-top: 2rem;
        display: flex;
        justify-content: center;
    }
    .img__clock{
        width: 40px;
        margin: 0.5rem;
    }
    .month__event{
        padding: 4rem;
    }
    .event__title{
        padding-left: 1rem;
        background-color: #0b3f5f32;
        width: 40%;
        display: flex;
        align-items: center;
    }
    .img__calendrier{
        width: 40px;
        margin: 0.5rem;
    }
    .event__content{
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }
    .carte__avenir{
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }
    .text__month{
        background-color:#0b3f5f32 ;
    }
    .text__month h3{
        padding-left: 0.5rem;
    }

    .text__month p{
        padding-bottom: 0.5rem;
        padding-left: 0.5rem;
    }
    .container__register{
        display: flex;
        justify-content: center;
        align-items: center;
        border: grey solid 1px;
        border-radius: 10px;
        padding-top: 2rem;
        margin-top: 5rem;
        margin-bottom: 8rem;
        margin-left: 12rem;
        margin-right: 12rem;
    }

    // .register__connexion{
    //     padding-top: 1rem;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: center;
    // }

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    form div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .register__carte{
        display: flex;
        
    }
    
    .register__carte input{
        margin: 1rem;
        padding: 0.5rem;
        background-color: rgb(203, 203, 203);
        border-radius: 5px;
        width: 20rem;
        border: none;
        outline: none;
    }
    .register__carte input::placeholder{
        color: #FFF;
    }
    .btn__register{
        background-color: transparent;
                color: #fff;
                border: #0b3f5f solid 1px;
                border-radius: 20px;
                padding: 0.5rem 1rem;
                margin-top: 1rem;
                cursor: pointer;
                font-size: 15pt;
                text-decoration: none;
                transition: all 0.3s ease-in-out;
    }
    .btn__register:hover{
        background-color: #0b3f5f;
                color: #fff;
                border: none;
                border-radius: 20px;
                padding: 0.5rem 1rem;
                margin-top: 1rem;
                cursor: pointer;
                font-size: 15pt;
                text-decoration: none;
                transition: all 0.3s ease-in-out
    }
    
    
    .register__login{
        padding: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: #C49862;
    }
    .btn__creercompte{
                 background-color: #0b3f5f;
                color: #fff;
                border: #0b3f5f solid 1px;
                border-radius: 20px;
                padding: 0.5rem 1rem;
                margin-top: 1rem;
                cursor: pointer;
                font-size: 15pt;
                text-decoration: none;
                transition: all 0.3s ease-in-out;
                margin-bottom: 1rem;
    }

}
