#listingDetailAffiche {
  width: 25vw;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 32px;
}

.filtre h3 {
  margin-left: 78px;
}

#listing {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titre__listing {
  margin-top: 2rem;
}

.card__event {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  padding: 0.3rem 0.3rem 0.3rem 0.3rem;
  border-radius: 15px;
  box-shadow: -1px 10px 24px -8px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: -1px 10px 24px -8px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: -1px 10px 24px -8px rgba(0, 0, 0, 0.38);
}

.event__listing {
  width: 75vw;
}

.card-body {
  margin-left: 1rem;
  min-width: 30rem;
}

.card-title {
  padding-top: 1rem;
}

.card-img-top {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  height: 7.5rem;
  width: auto;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.list-info {
  display: flex;
  margin-left: 2.3rem;
  margin-right: 2.3rem;
  text-decoration: none;
  list-style: none;
  flex-direction: column;
  padding-right: 0.2rem;
  justify-content: center;
  width: 25rem;
}

.btn__body {
  display: flex;
  align-items: center;
  padding-right: 2rem;
}

.btn__listing {
  text-decoration: none;
  color: #fff;
  border: rgba(0, 0, 0, 0.526) 1px solid;
  border-radius: 7px;
  background-color: #0b3f5f;
  padding: 0.4rem 0.4rem 0.4rem 0.4rem;
}

.container__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.carte__details {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 3rem;
  margin-right: 7rem;
  margin-left: 7rem;
  padding: 0.3rem 0.3rem 0.3rem 0.3rem;
  border-radius: 15px;
  box-shadow: -1px 10px 24px -8px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: -1px 10px 24px -8px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: -1px 10px 24px -8px rgba(0, 0, 0, 0.38);
}

.titre__details {
  padding-left: 2rem;
  padding-right: 2rem;
}

.details {
  display: flex;
  flex-direction: column;
}

.details__date {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.details__genre {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.details__casting {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.details__description {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.btn__bodydetails {
  display: flex;
  align-items: center;
  padding-top: 2rem;
}

.btn__acheter {
  padding-top: 2rem;
  text-decoration: none;
  color: #fff;
  border: rgba(0, 0, 0, 0.526) 1px solid;
  border-radius: 7px;
  background-color: #0b3f5f;
  padding: 0.4rem 0.4rem 0.4rem 0.4rem;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
  background-color: #fff;
}
body navbar {
  background: #FFF;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: -1px 10px 24px -8px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: -1px 10px 24px -8px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: -1px 10px 24px -8px rgba(0, 0, 0, 0.38);
}
body .navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 30px;
}
body .navbar__logo {
  color: #0b3f5f;
  justify-self: flex-start;
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}
body .navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}
body .navbar__item {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  margin-right: -22px;
}
body .navbar__links {
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  text-decoration: none;
  height: 100%;
  padding: 0.5rem 1rem;
}
body .navbar__links:hover {
  color: #0b3f5f;
  text-decoration: underline;
  transition: all 0.2s ease-in-out;
}
body form {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .label__mdp {
  padding-top: 1rem;
}
body .login__carte {
  display: flex;
  height: 20rem;
  border: grey solid 1px;
  border-radius: 10px;
}
body .login__carte .login__creation {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #C49862;
}
body .login__carte .login__connexion {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .login__carte input {
  margin: 1rem;
  padding: 0.5rem;
  background-color: rgb(203, 203, 203);
  border-radius: 5px;
  width: 20rem;
  border: none;
  outline: none;
}
body .login__carte input::-moz-placeholder {
  color: #FFF;
}
body .login__carte input:-ms-input-placeholder {
  color: #FFF;
}
body .login__carte input::placeholder {
  color: #FFF;
}
body .login__carte .btn__login {
  background-color: #0b3f5f;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
  font-size: 15pt;
  text-decoration: none;
}
body .login__carte .btn__register {
  background-color: transparent;
  color: #fff;
  border: #0b3f5f solid 1px;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
  font-size: 15pt;
  text-decoration: none;
}
body .login__carte .btn__register:hover {
  background-color: #0b3f5f;
  transition: all 0.3s ease-in-out;
}
body .login__carte .crea__text {
  padding: 1rem;
}/*# sourceMappingURL=style.css.map */