// @import "bootstrap";
@import "listing";

*{
    margin: 0;
    padding: 0;
    
}

body {
    font-family     : Arial, Helvetica, sans-serif;
    font-size       : 16pt;
    background-color: #fff;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    navbar{
        
        background: #FFF;
        height: 80px; 
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        position: sticky;
        top: 0;
        z-index: 999;
        box-shadow: -1px 10px 24px -8px rgba(0,0,0,0.38);
        -webkit-box-shadow: -1px 10px 24px -8px rgba(0,0,0,0.38);
        -moz-box-shadow: -1px 10px 24px -8px rgba(0,0,0,0.38);
        
    }
        .navbar__container {
            display: flex;
            justify-content: space-between;
            height: 80px;
            z-index: 1;
            width: 100%;
            max-width: 1300px;
            margin: 0 auto;
            padding: 0 30px;
        }
        .navbar__logo {
            color: #0b3f5f  ;
            justify-self: flex-start;
            cursor: pointer;
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            cursor: pointer;
            text-decoration: none;
            font-size: 2rem;
        }
        .navbar__menu {
            display: flex;
            align-items: center;
            list-style: none;
        }
         .navbar__item {
            display: flex;
            align-items: center;
            list-style: none;
            text-align: center;
            margin-right: -22px;
        }
        .navbar__links{
            color: #000;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 20px;
            text-decoration: none;
            height: 100%;
            padding: 0.5rem 1rem;
        }


        .navbar__links:hover{
            color: #0b3f5f;
            text-decoration: underline;
            transition: all 0.2s ease-in-out;
        }
   
        .form__login{
            padding: 5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

            .label__mdp{
                padding-top: 1rem;
            }

        .login__carte{
            display: flex;
            border: grey solid 1px;
            border-radius: 10px;
            flex-direction: row;
           

        .login__creation{
            padding: 6rem ;  
            display: flex;
            flex-direction: column;
            align-items: center;
            border-top-left-radius:10px ;
            border-bottom-left-radius:10px ;
             background: #C49862;
                
            }
            
            .login__connexion{
                padding-top: 1rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            input{
                margin: 1rem;
                padding: 0.5rem;
                background-color: rgb(203, 203, 203);
                border-radius: 5px;
                width: 20rem;
                border: none;
                outline: none;
            }
            input::placeholder{
                color: #FFF;
            }
            .btn__login{
                background-color: #0b3f5f;
                color: #fff;
                border: none;
                border-radius: 20px;
                padding: 0.5rem 1rem;
                margin-top: 1rem;
                cursor: pointer;
                font-size: 15pt;
                text-decoration: none;
                transition: all 0.3s ease-in-out;
            }
            .btn__register{
                background-color: transparent;
                color: #fff;
                border: #0b3f5f solid 1px;
                border-radius: 20px;
                padding: 0.5rem 1rem;
                margin-top: 1rem;
                cursor: pointer;
                font-size: 15pt;
                text-decoration: none;
                transition: all 0.3s ease-in-out;
            }
            .btn__register:hover{
                background-color: #0b3f5f;
                transition: all 0.3s ease-in-out;
            }
            .btn__login:hover{
                background-color: transparent;
                color: #000;
                border: #000 solid 1px;
                transition: all 0.3s ease-in-out;
            }

            
            .crea__text{
                padding: 1rem;
            }
        }
    .full__image{
        width: 99vw;
        height: auto;
        filter: blur(0.25rem);
    }
    .top__image{
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.399);
        position: absolute;
        top: 40%;
        width: 100%;
        height: auto;
        .phrase__accueil{
            padding-top: 5rem;
            margin-left: 10rem;
           color: #FFF;
           right: 30%;
           font-size: 28pt;
        }
        .text__accueil{
            padding-bottom: 5rem;
            margin-left: 10rem;
           color: #FFF;
           right: 30%;
           font-size: 18pt;
        }
   
    }
    footer{
        margin-top: auto;
    }
    .footer__container{
        background-color: rgba(0, 0, 0, 0.736);
        color: #FFF;
        display: flex;
        justify-content: space-between;      
        height: 20vh;
    }
    .footer__container a{
        text-decoration: none;
        color: #FFF;
    }
    .terms{
        padding-left: 3rem;
        padding-top: 1rem;
    }
    .titre__terms{
        padding-bottom: 0.5rem;
    }
    .rs{
        padding: 1rem;
    }
    .titre__rs{
        padding-bottom: 0.5rem;
    }
    .crea{
        padding-top: 1rem;
        padding-right: 3rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .titre__crea{
        padding-bottom: 0.5rem;
    }
    .img__rs{
        width:50px;
        margin:0.5rem;
    }
    .news__content{
        padding: 4rem;
    }
    .titre__news{
        padding-left: 1rem;
        background-color: #0b3f5f32;
        width: 40%;
        display: flex;
        align-items: center;
    }
    .carte__news{
        margin-top: 2rem;
        display: flex;
        justify-content: center;
    }
    .img__clock{
        width: 40px;
        margin: 0.5rem;
    }
    .month__event{
        padding: 4rem;
    }
    .event__title{
        padding-left: 1rem;
        background-color: #0b3f5f32;
        width: 40%;
        display: flex;
        align-items: center;
    }
    .img__calendrier{
        width: 40px;
        margin: 0.5rem;
    }
    .event__content{
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }
    .event__important{
        padding: 3rem;
    }
    .event__important h3{
        background-color: #0b3f5f1f;
        padding: 1rem;
        border-bottom-left-radius:10px ;
        border-bottom-right-radius:10px ;
    }
    
    .event__less{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .carte__avenir{
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }
    .text__month{
        background-color:#0b3f5f1f ;
        border-bottom-left-radius:10px ;
        border-bottom-right-radius:10px ;
    }
    .text__month h3{
        padding-left: 0.5rem;
    }

    .text__month p{
        padding-bottom: 0.5rem;
        padding-left: 0.5rem;
    }
    .container__register{
        display: flex;
        justify-content: center;
        align-items: center;
        border: grey solid 1px;
        border-radius: 10px;
        margin-top: 5rem;
        margin-bottom: 8rem;
        margin-left: 12rem;
        margin-right: 12rem;
    }

    // .register__connexion{
    //     padding-top: 1rem;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: center;
    // }

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    form div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .register__carte{
        display: flex;
        
    }
    
    .register__carte input{
        margin: 1rem;
        padding: 0.5rem;
        background-color: rgb(203, 203, 203);
        border-radius: 5px;
        width: 20rem;
        border: none;
        outline: none;
    }
    .register__carte input::placeholder{
        color: #FFF;
    }
    .btn__register{
        background-color: transparent;
                color: #fff;
                border: #0b3f5f solid 1px;
                border-radius: 20px;
                padding: 0.5rem 1rem;
                margin-top: 1rem;
                cursor: pointer;
                font-size: 15pt;
                text-decoration: none;
                transition: all 0.3s ease-in-out;
    }
    .btn__register:hover{
        background-color: #0b3f5f;
                color: #fff;
                border: none;
                border-radius: 20px;
                padding: 0.5rem 1rem;
                margin-top: 1rem;
                cursor: pointer;
                font-size: 15pt;
                text-decoration: none;
                transition: all 0.3s ease-in-out
    }
    
    
    .register__login{   
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: #C49862;
        width: 100%;
        height: 70vh;
        justify-content: center;
    }
    .btn__creercompte{
                 background-color: #0b3f5f;
                color: #fff;
                border: #0b3f5f solid 1px;
                border-radius: 20px;
                padding: 0.5rem 1rem;
                margin-top: 1rem;
                cursor: pointer;
                font-size: 15pt;
                text-decoration: none;
                transition: all 0.3s ease-in-out;
                margin-bottom: 1rem;
    }

    @media  screen and (max-width: 960px) {
            .navbar__container{
                display: flex;
                justify-content: space-between;
                z-index: 1;
                width: 100%;
                max-width: 1300px;
                padding: 0;
            }
            .navbar__menu {
                display: grid;
                grid-template-columns: auto;
                width: 100%;
                position: absolute;
                top: -1000px;
                transition: all 0.5s ease;
                z-index: -1;
            }
            .navbar__menu.active {
                background: #f3f2f2;
                top: 100%;
                opacity: 1;
                transition: all 0.5s ease;
                z-index: 99;
                height: 68vh;
                font-size: 1.6rem;
            }
            #navbar__logo {
                padding-left: 1rem;
                z-index: 99;
            }
            .navbar__toggle .bar {
                width: 25px;
                height: 3px;
                margin: 5px auto;
                transition: all 0.3s ease-in-out;
            }
            .navbar__item {
                width: 100%;
                margin: -1.8rem;
            }
            .navbar__links {
                text-align: center;
                padding: 2rem;
                width: 100%;
                display: table;
            }
            .navbar__btn {
                padding-top: 1.5rem;
                padding-bottom: 1.5rem;
            }
            .button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 80%;
                height: 45px;
                margin: 0;
                margin-bottom: -28px;
            }
            #mobile-menu {
                position: absolute;
                top: 20%;
                right: 5%;
                transform: translate(5%, 20%);
            }
            .navbar__toggle .bar {
                display: block;
                cursor: pointer;
                background: rgb(15, 14, 14);
            }
            #mobile-menu.is-active .bar:nth-child(2) {
                opacity: 0;
            }
            #mobile-menu.is-active .bar:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
            }
            #mobile-menu.is-active .bar:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
            }
            
            .top__image {
                z-index: 2;
                background-color: rgba(0, 0, 0, 0.399);
                position: absolute;
                top: 17%;
                width: 100%;
                height: 31vh;
                
            }
            //a retravailler
            // .text__accueil{
            //     padding-bottom: 5rem;
            //     margin-left: 6rem;
            //     color: #FFF;
            //     right: 30%;
            //     font-size: 16pt;
            // }

                .titre__news{
                    width: 65%;
                }

                .carte__news img{
                    width: 75vw;
                    height: auto;
                }

                .event__title{
                    width: 80%;
                }
                .event__content{
                    flex-direction: column;
                    align-items: center;
                }
                .event__content .event__under{
                    display: flex;
                    flex-direction: row;
                }
                .terms{
                    padding-left: 2rem;
                }
                .img__rs{
                    width: 25px;
                    margin: 0.3rem;
                }

                .crea{
                    padding-top: 1rem;
                    padding-right: 2rem;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                }
        }
            
}
        