// @import "bootstrap";
@import "listing";

*{
    margin: 0;
    padding: 0;
}

body {
    font-family     : Arial, Helvetica, sans-serif;
    font-size       : 16pt;
    background-color: #fff;

    navbar{
        
        background: #FFF;
        height: 80px; 
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        position: sticky;
        top: 0;
        z-index: 999;
        box-shadow: -1px 10px 24px -8px rgba(0,0,0,0.38);
        -webkit-box-shadow: -1px 10px 24px -8px rgba(0,0,0,0.38);
        -moz-box-shadow: -1px 10px 24px -8px rgba(0,0,0,0.38);
        
    }
        .navbar__container {
            display: flex;
            justify-content: space-between;
            height: 80px;
            z-index: 1;
            width: 100%;
            max-width: 1300px;
            margin: 0 auto;
            padding: 0 30px;
        }
        .navbar__logo {
            color: #0b3f5f  ;
            justify-self: flex-start;
            cursor: pointer;
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            cursor: pointer;
            text-decoration: none;
            font-size: 2rem;
        }
        .navbar__menu {
            display: flex;
            align-items: center;
            list-style: none;
        }
         .navbar__item {
            display: flex;
            align-items: center;
            list-style: none;
            text-align: center;
            margin-right: -22px;
        }
        .navbar__links{
            color: #000;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 20px;
            text-decoration: none;
            height: 100%;
            padding: 0.5rem 1rem;
        }


        .navbar__links:hover{
            color: #0b3f5f;
            text-decoration: underline;
            transition: all 0.2s ease-in-out;
        }
   
        form{
            padding-top: 10rem;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        fieldset{
            border: 1px solid #0b3f5f;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 1rem 1rem;
        }
            .label__mdp{
                padding-top: 1rem;
            }
        .btn__login{
            background-color: #0b3f5f;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 0.5rem 1rem;
            margin-top: 1rem;
            cursor: pointer;
        }
}