{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="Full__image">
        {# <img src="" alt="full_image_avigon"> #}
        <div class="bar_bleu">

        </div>
    </div>

    <div class="news">
        <div class="next__event">
            <div class="news__title">
                <h1>Prochains événements</h1>
            </div>
            <div class="news__content">
            <p>lorem ipsum dispum lorem</p>
            </div>
        </div>

        <div class="month__event">
            <div class="event__title">
                <h2>Événements à venir</h2>
            </div>
            <div class="event__content">
            <p>lorem ipsum dispum lorem de ouf</p>
            </div>
        </div>
    </div>
<div>
{% endblock %}