{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="Full__image">
        {# <img src="" alt="full_image_avigon"> #}
        <div class="bar_bleu">

        </div>
    </div>

    <div class="news">
        <div class="next__event">
            <div class="full_image_div">
                <div class="top__image">
                    <h3 class="phrase__accueil">Bienvenue sur Avigon Tickets</h3>
                        <p class="text__accueil">Le site de réservation de billets pour les événements de la ville d'Avignon</p>
                </div>
                <img class="full__image" src="{{ asset('assets/img/avignon.jpg') }}" alt="avigon">
            </div>
            <div class="news__content">
                <div class="titre__news">
                    <img class="img__clock" src="/assets/img/clock.png" alt="récent">
                    <h4>En ce moment à Avigon</h4>
                </div>
                <div class="carte__news">
                    <img  src="/assets/img/noel.jpg" alt="Noël_Avigon">
                </div>
            </div>
        </div>

        <div class="month__event">
            <div class="event__title">
                <img class="img__calendrier" src="/assets/img/calendrier.png">
                <h4>Evénement dans le mois sur Avigon</h4>
            </div>
            <div class="event__content">
                <div class="event__important">
                    <img src="/assets/img/noel_month.jpg" alt="noel avignon">
                    <h3>nôel à Avignon</h3>
                </div>
                <div class="events__under">
                    <div class="carte__avenir">
                        <div class="img__month">
                        <a class="lien__img" href="#"> <img src="/assets/img/lujipeka.jpg" alt="Concert lujipeka"></a>
                        </div>
                        <div class="text__month">
                            <h3>Lujipeka</h3>
                            <p>Prix: 25€</p>
                            <p>Le 12/12/2019</p>
                        </div>
                    </div>
                    <div class="carte__avenir">
                        <div class="img__month">
                        <a href="#">  <img src="/assets/img/lujipeka.jpg" alt="Concert lujipeka"></a>
                        </div>
                        <div class="text__month">
                            <h3>Lujipeka</h3>
                            <p>Prix: 25€</p>
                            <p>Le 12/12/2019</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div>
{% endblock %}